li {
 padding-top: 5%;
}

ol {
  font-size: 1.3em;
}



body {
 background-image: url("images/david-van-dijk-3LTht2nxd34-unsplash.jpg");
 height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
}

